.benefits-two{
    position: relative;
    background-color: var(--color-ebony);
    color: var(--color-light);
    padding-bottom: 60px;
}
.benefits-two__title{
    margin: 0;
    padding-top: 40px;
    margin-bottom: 20px;
    color: var(--color-light);
}
.benefits__item--img1{
    background-image: url('./img/services/contract.svg');
}
.benefits__item--img2{
    background-image: url('./img/camera.svg');
}

.benefits__item--img3{
    background-image: url('./img/Group.svg');
}
.benefits-two__btn {
    position: absolute;
    color: white;
    align-items: center;
    bottom: 0;
    left: 43%;  
    margin-bottom: -20px; 
}
.benefits-two__btn--big {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 314%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -1px;
}
a.btn-two {
    color: white;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 12px 52px;
    width: 160px;
    height: 44px;

}
.benefits__item--quality {
    background-image: url('./img/value1.svg');
}
.pricing {
    padding-top: 80px;
    padding-bottom: 60px;
   /* background-color: #f4f5f9;*/
}
.pricing__title {
    margin: 0;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
}
.pricing__desc {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: gray;
}
.table-wrapper{
    overflow: hidden;
    border: 1px solid #e5e8eD;
    border-collapse: collapse;
}
.pricing__table {
   
}
.table {
    width: 100%;
    border-radius: 4px;
 /*   width: 1230px;
    height: 743px;*/
    box-shadow: 
    0 4px 4px -4px rgba(30, 33, 44, 0.03), 
    0 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.table__header {
    
}
.table__th {
    
}
.table__th:first-child {
    text-align: left;
    padding: 0 24px;
}
.table__title {
    margin: 0;
    margin-bottom: 20px;
}
.table__desc {
    margin: 0;
    padding-bottom: 20px;
}
.table__body .table__row:nth-child(odd) {
    background-color: #f4f5f7;

}
.table__col:first-child {
    text-align: left;
}
.table__col {
    padding: 17px 0px;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
.table__cheak {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-image: url('./img/Line\ \(Stroke\).svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-reset {
}
.table__btn {
    color:red;
    font-weight: 700;
    font-size: 12px;
    line-height: 300%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    padding: 7px 8px;
}