.post-work{
    background-color: #e7eaf0;
    height: 500px;
}
.post-work__title{
    max-width: none;
    width: 1200px;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.post-Work__bottom {
    display: flex;
    justify-content: space-between;
}
.post-work__meta {
}
.article-meta__item:nth-child(2) {
    padding-left: 28px;
    background-image: url('./img//post/Clock.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.article-meta__item:nth-child(3) {
    padding-left: 28px;
    background-image: url('./img//post/Chat.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.article-meta__item:not(:last-child){
    margin-right: 23px;
}
.article-meta__item:first-child {
    color: red;
    font-weight: 700;
}
.post-work__social {
    display: flex;
    align-items: center;
}
.post {
}
.container {
}
.post-container {
}
.post__img {
    width: 100%;
    object-fit: cover;
    margin-top: -30px;  
}
.post-content {
    margin-top: 30px;
    padding-bottom: 30px;
    max-width: 810px;
    margin: 0 auto;
}
.post-content__title {
    margin: 0;
    margin-top: 70px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}
.post-content__desc {
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: gray;
}
.post-content__blockguote {
    position: relative;
    display: flex;
    font-weight: 700;
    
    padding-right: 5px;
    font-size: 20px;
    line-height: 150%;
}
.post-content__blockguote--img{
    position: absolute;
    top: 15px;
    left: -40px;
}
.post-content__desc--four{
    margin-bottom: 30px;
}
.post-content__list {
    padding-left: 32px;
    margin-bottom: 30px;
}
.post-content__item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: gray;
}
.post-content__item img{
    padding-right: 10px;
    
}
.post-content__item:not(:last-child) {
    margin-bottom: 15px;
}
.post-share{
    padding-bottom: 30px;
}
.post-share__name{
    margin-right: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-top: 5px;
}
.post-share__container {
    display: flex;
    align-self: center;
    max-width: 830px;
    margin: 0 auto;
}