:root{
    --color-light: #fff;
    --color-grey:#424551;
    --color-black:#000;
    --color-storm:#787a80;
    --color-ebony:#1e212c;
    --color-primary:#ff5a30;
    --grid-gap: 30px;
}
.header-services{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-image: url('./img/services/image.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #f4f5f7;
}
.header-interior{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-image: url('./img/interior/image -bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #f4f5f7;
}

.container__services{
    padding-top: 30px;
}
.breadcrumbs {
    padding-top: 70px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.breadcrums__item{
    position: relative;
}
.breadcrums__item:not(:last-child) {
    margin-right: 20px;
}
.breadcrums__item:not(:last-child)::after{
    content: "/";
    position: absolute;
    top: 0;
    right: -12px;
    color:#9a9ca5 ;
}
.breadcrums__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
}
.breadcrums__link:not([href]) {
    color: #9a9ca5;
}
.hero-services__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-ebony);
    }
.hero-services__desc {
    margin: 0;
    margin-bottom: 100px;
    max-width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-grey);
}
.contacts-section{
    padding-top: 700px;
}
.services-content {
    position: relative;
    overflow: hidden;
    padding-top: 700px;
    padding-bottom: 120px;
}
.services-content--1{
    position:absolute;
    left: -200px;
    bottom: -150px;
}
.services-content--2{
    position: absolute;
    right: -240px;
    top: 20%;
    margin-left: -120px;
    transform: translate(-20%);
}
.container__services-content {

}
.services-content__list {
    position: relative;
    z-index: 5;
}
.services-content__item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}
.services-content__item:not(:last-child) {
    margin-bottom: 110px;
}
.services-content__item--reverse .services-content__info{
    order: -1;

}
.services-content-image{
    grid-column: 6 span;
}
.services-content__img {
}
.services-content__info {
    grid-column: 6 span;
    padding: 70px 20px;
}
.services-content__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #1e212c;
}
.services-content__desc {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9a9ca5;
}
.services-content__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 314%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
}
.btn {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 12px 32px;
    width: 160px;
    height: 44px;
}
/*----------------interior----------------*/
.we-offer {
   
    padding-bottom: 100px;
    padding-top: 700px;
}
.container {
}
.we-offer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}
.we-offer__image {
    grid-column: 6 span;
}
.we-offer__content {
    grid-column: 6 span;
    padding: 30px 120px;
}
.we-offer__titie {
    margin: 0;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-black);
}
.we-offer__desc {
    margin: 0;
    max-width: 376px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
    color: var(--color-grey);
}
.we-offer__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 314%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
}
.btn {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 12px 32px;
    width: 160px;
    height: 44px;
}

/*-----------------------how-we-do--------------------*/
.how-we-do {
    padding: 40px 0px;
}
.how-we-do-container {
}
.how-we-do__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 60px;
}
.how-we-do__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    counter-reset: section;
}
.how-we-do__item {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 3 span;
}
.how-we-do__item::before {
    counter-increment: section;
    content: "0"counter(section);
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #d7dadd;
    margin-bottom: 18px;
}
.how-we-do__item:not(:last-child)::after {
    position: absolute;
    content: "";
    right: 0;
    top: 30px;
    height: 1px;
    width: 70%;
    background-image: url('./img/interior/line.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.how-we-do__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}
.how-we-do__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
/*--------------benefits-two------------*/
.benefits-two{
    position: relative;
    background-color: var(--color-ebony);
    color: var(--color-light);
    padding-bottom: 60px;
}
.benefits-two__title{
    margin: 0;
    padding-top: 40px;
    margin-bottom: 20px;
    color: var(--color-light);
}

.benefits-two__btn {
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 43%;    
}
.benefits-two__btn--big {
    font-weight: 700;
    font-size: 14px;
    line-height: 314%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
}
.btn {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 12px 52px;
    width: 160px;
    height: 44px;
}
