html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Lato';
    src: url('./fonts/LatoBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Lato';
    src: url('./fonts/LatoRegular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/UbuntuBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/UbuntuRegular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
.list-reset{
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn-reset{
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 400;
}
:root{
    --color-light: #fff;
    --color-grey:#424551;
    --color-black:#000;
    --color-storm:#787a80;
    --color-ebony:#1e212c;
    --color-primary:#ff5a30;
    --grid-gap: 30px;
}
.header{
    padding: 23px 0;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
}
.logo {
    
}
.header__nav{
    margin-left: -35px;
}
.nav__list {
    display: flex;
}
.nav__item:not(:last-child) {
    margin-right: 40px;
}
.nav__link {
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color:var(--color-grey);
}
.header-contacts {
    display: flex;
    align-items: center;
}
.header-contacts__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-contacts__link:not(:last-child) {
    margin-right: 20px;
}
.contacts__link {
    padding-left: 53px;
    background-position: left center;
    background-size: 40p 40px;
    background-repeat: no-repeat;
}
.contacts__link--call {
    background-image: url('./img/iPhone.svg');
}
.contacts__link__caption {
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-black);
}
.contacts__link__value {
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}
.contacts__link--mail {
    background-image: url('./img/Chat.svg');
}
.hero {
    padding-top: 220px;
    padding-bottom: 320px;
    color: var(--color-light);
    background-image: url('./img/bg-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-grey);
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
}
.hero__container {
}
.hero__content {
    max-width: 595px;
}
.hero__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: Ubuntu;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-light);
}
.hero__title span{
    color: #ff5a30;
}
.hero__desc {
    margin: 0;
    margin-bottom: 61px;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.hero__btns {
}
.hero__btns .btn:not(:last-child){
    margin-right: 24px;
}
.btn-reset {
}
.btn {
    border-radius: 4px;
    padding: 0px 30px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-light);
}
.btn--stroke {
    border-style: solid;
    border-width: 1px;
}
.btn--stroke-light {
    border-color: var(--color-light);
}
.btn--fill {
    background-color: var(--color-primary);
}
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about__title {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-ebony);
}
.about__desc {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-storm);
}
.video-block {
    position: relative;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.video-block__play {
    position: absolute;
    left: 51%;
    top: 52%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-primary);
    transform: translate(-50%,  -50%);
}
/*
.video-block__play svg{
    width: 26px;
    height: 26px;
    color: var(--color-light);
}
*/
.video-block__muted svg{
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: var(--color-light)
}
.video-block__sirena{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--color-storm);

}
.video-block__sirena svg{
    position: absolute;
    display: flex;
    align-items: flex-end;   
    z-index: 20;
    top: 90%;
    width: 26px;
    height: 26px;
}
.about__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mission {

    background-color: var(--color-light);
}
.mission__title {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-ebony);
}
.mission__desc {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-storm);
}
.mission__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 188px;
}
.mission__item {
    position: relative;
    padding-top: 50px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
}
.mission__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -35%;
    top: 0;
    width: 3px;
    height: 100%;
    border-right: 1px solid var(--color-storm);
    background-image: url('./img/divider.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission__item--quality {
    background-image: url('./img/value1.svg');
}
.mission__subtitle {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
.mission__subtitle--desc {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center
}
.mission__item--safety {
    background-image: url('./img/value2.svg');
}
.mission__item--comfort {
    background-image: url('./img/value3.svg');
}
.service {
    padding-top: 190px;
   background-color: #d3d5db;
}
.service__title {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-ebony);
}
.service__desc {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-storm);
}
.know-form {
    position: relative;
    top: 92px;
    padding: 48px 60px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),0px 12px 10px -6px rgba(154, 156, 165, 0.04),0px 30px 24px -10px rgba(154, 156, 165, 0.05),0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    background: rgb(255, 255, 255);
}
.know-form__titile {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-black);
}
.know-form__content {
    display: flex;
    align-items: flex-end;
}
.know-form__field {
}
.form__field {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 24px;
}
.know-form__caption {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.form-field__input{
    border: 1px solid rgb(215, 218, 221);
    border-radius: 4px;
    background: rgb(244, 245, 247);
    width: 260px;
    height: 44px;
    color: rgb(154, 156, 165);
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 100%;
}
.know-form__btn{
    padding: 3px 40px;
}
.form-field--big{
    flex-grow: 1;
}
.service {
    padding-top: 212px;
    padding-bottom: 50px;
}
.service__title {
}
.service__desc {
}
.service-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.service-list__item {
    
}
.service-item {
    display: block;
    padding:0 10px ;
    padding-top: 87px;
    padding-bottom: 90px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(229, 232, 237);
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),0px 12px 10px -6px rgba(154, 156, 165, 0.04),0px 30px 24px -10px rgba(154, 156, 165, 0.05),0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    background: rgb(255, 255, 255);
}
.service-item::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: inherit;
    background-image: url('./img/ser-img.jpeg');
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.service-item::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    border-radius: inherit;
    background-color: rgba(#1e212c, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.service-item__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}
.service-item__img {
 /*   margin: 0;
    position: absolute;           
    top: 50%; 
    left: 50%;                       
    transform: translate(-50%, -50%); */
    width: 52px;
    height: 52px;
    margin-bottom: 30px;
    object-fit: cover;
    text-align: center;
}
.service-item__subtitle {
    margin: 0;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
   color: var(--color-ebony);
   transition: color 0.3s ease-in-out;
}
.service-item:hover{
    color: var(--color-grey);
}
.service-item:hover::before{
    opacity: 1;
}
.service-item:hover::after{
    opacity: 1;
}
.service-item:hover .service-item__subtitle{
    color: var(--color-grey);

}
.learn {
    margin-top: 60px;
    margin-bottom: 80px;
}
.container {
}
.learn__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.learn__title {
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.btn {
}
.learn__btn {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-light);
}
.project {
    padding: 50px 0px;
    padding-bottom: 100px;
}
.project__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
}
.project__top--title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-grey);
}
.slader-nav {
    display: flex;
    align-items: center;
  /*  position: relative;
    z-index: 15;*/
}
.project__prev {
}
.slider-nav__btn svg{
    display: block;
    width: 24px;
    height: 24px;
    color: inherit;
    fill: currentColor;
    object-fit: cover;
}
.slader-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    color: var(--color-grey);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slader-btn:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
}
.swiper-wrapper {
    display: flex;
}
.swiper-button-lock {
    /* display: none; */
}
.project-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 
    0 4px 4px -4px rgba(30, 33, 44, 0.03), 
    0 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 80px 80px -20px rgba(154, 156, 165, 0.08);
    background: var(--color-light);
}
.project-item__img {
}
.project-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
}
.project-item__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--color-black);
}
.project-item__desc {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-grey);
}
.project-item__btn {
    display: none;
    margin-top: 24px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 3px 31px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
}
.facts {
    position: relative;
    overflow: hidden;
    padding: 80px 0;
    padding-top: 180px;
    padding-bottom: 100px;
    background-color: var(--color-light);
}
.facts::before{
    content: "";
    position: absolute;
    left: -9px;
    top: -195px;
    width: 570px;
    height: 1065px;
    background-image: url("../img/facts-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.facts__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
}
.facts__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 736px;
    gap: 48px;
}
.facts__item {
}
.facts-element {
}
.facts-element__circle {
    position: relative;
}
.facts-element__circle svg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
/*------------------------*/
.reset-news {
    padding: 80px 0;
    background-color: var(--color-light);
}
.reset-container{
    background-color:var(--color-light);
}
.reset-news__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: var(--color-grey);
}
.reset-news__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 255px);
    gap: 30px;
}
.list-reset {
}
.reset-news__item {
    grid-column: 5 span;
}
.reset-news__item:first-child {
    grid-column: 6 span;
    grid-row: 2 span;
}
.reset-news__item {
}
.reset-news__item {
}
.reset-article {
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    /*
    box-shadow: 
    0 4px 4px -4px rgba(30, 33, 44, 0.03), 
    0 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0 80px 80px -20px rgba(154, 156, 165, 0.08);*/
    background-color: var(--color-light);
}
.reset-article--big{

}
.reset-article--small{

}
.reset-article__img {
}
.reset-article__text {
    padding: 20px 24px;
}
.reset-article__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}
.reset-article__link {
    color: inherit;
}
.reset-article__meta {
    margin: 0;
    margin-bottom: 10px;
}
.article-meta {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
}

.article-meta__item {
    color: inherit;
    position: relative;
}
.article-meta__item::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 3px;
    width: 1px;
    height: 11px;
    color: inherit;
    background: #000;
}
.article-meta__item:not(:last-child) {
 margin-right: 10px;
}
.article-meta__item--comments {
    padding-left: 30px;
    background-image: url('./img/article/Vector.svg');
    background-position:left center;
    background-repeat: no-repeat;

}
.resent-article__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
.reset-news__post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--color-light);
}
.reset-news__subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}
.reset-news__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 325%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    padding: 0px 40px;
    width: 212px;
    background: var(--color-primary);
}
.contacts-section {
    padding: 80px 0;
    padding-bottom: 100px;
    background-image: url('./img/bg-con.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts-section__container {
    display: flex;
    justify-content: flex-end;
}
.contacts-section__form {
    background-color: var(--color-light);
}
.contact-form {
    max-width: 495px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;
    box-shadow: 
    0 4px 4px -4px rgba(30, 33, 44, 0.05), 
    0 12px 10px -6px rgba(30, 33, 44, 0.08), 
    0 26px 24px -10px rgba(30, 33, 44, 0.1), 
    0 60px 80px -20px rgba(30, 33, 44, 0.16);
    background: var(--color-light);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    height: 666px;
}
.contacts-form__title {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
}
.form-field {
}
.form-field--grey {
    width: 100%;
}
.contact-form__field {
    margin-bottom: 21px;
}
.form-field__text {
    
}
.form-field__input {
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    width: 415px;
    height: 44px;
    background-color: #f4f5f7;
    margin-top: 10px;
    padding-left: 20px;
}
.form-field__input--message {
    padding-top: 10px;
    height: 66px;
    resize: none;
}
.custom-checkbox {
}
.custom-checkbox__input {
    position: absolute;
    opacity: 0;
}
.custom-checkbox__text {
    display: inline-block;
    position: relative;
    padding-left: 27px ;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-grey);
}
.custom-checkbox__text::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-image: url('./img/article/check.svg');
    background-position: center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-outork;
}
.custom-checkbox__text::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
}
.custom-checkbox__input:checked +.custom-checkbox__text::before{
    background-color: var(--color-primary);
}
.custom-checkbox__input:checked +.custom-checkbox__text::after{
    opacity: 1;
}
.custom-checkbox__input:focus + .custom-checkbox__text{
    
    color: blue;
}
.centere{
    width: 100%;
    text-align: center;
}
.contacts-form__btn {
    border-radius: 4px;
    padding: 0px 32px;
    width: 174px;
    height: 44px;
    background-color: var(--color-primary);
    color: var(--color-light);
    margin-top: 30px;
}
.footer {
    padding: 50px 0;
    color: var(--color-light);
    background-color: var(--color-ebony);
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    gap: 50px;
}
.footer__logo{
    margin-right: 40px;
}
.footer__left {
    grid-column: 7 span;
}
.footer__social{
    display: flex;
    align-items: center;
}
.footer__top{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin-right: 16px;
}
.social__link {
    display: block;
    width: 24px;
    height: 24px;
}
.social__link svg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__desc {
    width: 100%;
    max-width: 493px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-light);
}
.footer-form {
    
}
.footer__form {
    grid-column: 5 span;
}
.footer-form__subtitle {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-light);
}
.footer-form__items {
    display: flex;
    align-items: center;
}
.form-field {
    margin: 0;
    width: 364px;
}
.form-field--grey {
}
.contact-form__field {
}
.form-field__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(255, 255, 255, 0.12);
}
.footer-form__btn {
    margin: 0;
    margin-top: 10px;
    padding: 0px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 305%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: normal;
}
.footer-form__desc {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}
.footer-address {
    display: flex;
    flex-direction: column;
}
.footer__address {
    grid-column: 4 span;
}
.footer-address__title {
   
}
.footer-address__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);
}
.footer-address__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-light);
}
.footer-nav {
    display: flex;
    padding-left: 50px;
    
}
.footer__nav {
    grid-column: 8 span;
}
.footer-nav__col:not(:last-child) {
    margin-right: 125px;
}
.footer-nav__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.footer-nav__items {
}
.footer-nav__item {
}
.footer-nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
.footer-copyright {
    display: flex;
    grid-column: 12 span;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

}
/*
.footer-copyright span{
    background-image: url('./img/hart.svg');
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}*/
.footer-copyright--img{
    margin: 0;
    padding: 3px 5px;
    background-position: left center;
    background-size: 16px 16px;
    
}
/*
img.footer-copyright__img{
   padding: 8px 8px -8px 8px;

}